.titulo{
    justify-content: center;
    display: flex;
    text-align: center;
width: 20px 0;}

.logo{float: left; 
    text-align: center;
}

.corpo {background-image:linear-gradient(orange, yellow);
 display: flex; 
 justify-content: center;
align-items: center;
text-align: center;

 }


.paragrafo-corpo{ text-align: center;
    width: 80%;
}

.imagem-pagina{width: 20%;
   
    
}
